# Node.js dependencies
node_modules/
pnpm-lock.yaml

# TypeScript compiler output
dist/

# Environment variables
.env

# Editor directories and files
.vscode/
*.sublime-workspace
*.sublime-project
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# output
output.json
